# General OS files
.DS_Store
Thumbs.db

# Eclipse & Java-related ignores
*/.classpath
/.metadata/
**/.project
**/.settings/
**/tasks/
**/bin/
**/target/
/out/
/*.log

# Maven
/.m2/repository/

# Gradle
/.gradle/
/build/

# IntelliJ IDEA
/.idea/
/*.iml
*.iws

# Python-related ignores
__pycache__/
*.pyc
*.pyo
*.pyd
/.venv/
/.venv*/

# Virtual environments
venv/
ENV/
env/
*.egg-info/

# Acceleo-related ignores
/generated/
/*.emtl

# EMF and Model-Driven Artifacts
/*.ecorediag
/*.genmodel
/*.xmi
/*.notation
/*.sash

# Eclipse EMF Temporary and Build Files
/tmp/
/.emftemp/
*.bak
*.log

# General ignores for build artifacts
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar.bz2

# Other
notationTransformer/
